.popup__caption {
  overflow: hidden;
  margin-top: 10px;
  max-width: 200px;
  font-size: 12px;
  line-height: 15px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
