.profile__job {
  overflow: hidden;
  margin: 7px 0 0;
  max-width: 270px;
  font-size: 18px;
  line-height: 22px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

@media (max-width: 710px) {
  .profile__job {
  margin: 8px 0 33px;
  padding-right: 28px;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  }
}
