.header__btn {
  margin-top: 5px;
  border: none;
  padding: 0;
  font: inherit;
  font-size: 18px;
  line-height: 22px;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header__btn:hover {
  opacity: 0.6;
  transition: 0.3s linear;
}
