.popup__submit-button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 2px;
  padding: 0;
  width: 358px;
  height: 50px;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  background-color: #000;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media (max-width: 620px) {
  .popup__submit-button {
    width: calc(100% - 22px * 2);
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
