.popup__form-field {
  position: relative;
  display: block;
  margin: 0 0 45px;
}

.popup__form-field:last-of-type {
  margin-bottom: 50px;
}

@media (max-width: 620px) {
  .popup__form-field:last-of-type {
    margin-bottom: 55px;
  }
}
