.popup__container {
  position: relative;
  border-radius: 10px;
  padding-bottom: 30px;
  width: 430px;
  -webkit-box-shadow: 0 0 25px rgb(0 0 0 / 15%);
          box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  background-color: #fff;
}

@media (max-width: 620px) {
  .popup__container {
    padding-bottom: 25px;
    width: 282px;
  }
}
