.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 45px;
  border-bottom: 1px solid rgb(84 84 84 / 70%);
}

@media (max-width: 710px) {
  .header {
    margin-top: 28px;
  }
}
